apiVersion: apps/v1
kind: Deployment
metadata:
  name: guacamole
  labels:
    app: guacamole
spec:
  selector:
    matchLabels:
      app: guacamole
  replicas: 1
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: guacamole
    spec:
      serviceAccount: guacamole
      containers:
        - name: guacamole
          image: "guacamole/guacamole:latest"
          imagePullPolicy: IfNotPresent
          env:
            - name: MYSQL_HOSTNAME
              value: "guacamole-mysql.guacamole.svc.cluster.local"
            - name: MYSQL_PORT
              value: "3306"
            - name: MYSQL_DATABASE
              value: "guacamole"
            - name: MYSQL_USER
              value: "guacamole"
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: mysql-password
                  name: guacamole-mysql
            - name: GUACD_HOSTNAME
              value: "127.0.0.1"
            - name: GUACD_PORT
              value: "4822"
          securityContext:
            runAsUser: 0
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
#          livenessProbe:
#            tcpSocket:
#              port: http
#            initialDelaySeconds: 60
#            periodSeconds: 15
#            timeoutSeconds: 3
#          readinessProbe:
#            tcpSocket:
#              port: http
#            initialDelaySeconds: 30
#            periodSeconds: 15
#            timeoutSeconds: 3
        #   resources:
        #     requests:
        #       cpu: 500m
        #       memory: 2Gi
        #     limits:
        #       cpu: 2
        #       memory: 2.5Gi
        - name: guacd
          image: "guacamole/guacd:latest"
          imagePullPolicy: IfNotPresent
          env:
          ports:
            - name: guacd
              containerPort: 4822
              protocol: TCP
#          livenessProbe:
#            tcpSocket:
#              port: http
#            initialDelaySeconds: 60
#            periodSeconds: 15
#            timeoutSeconds: 3
#          readinessProbe:
#            tcpSocket:
#              port: http
#            initialDelaySeconds: 30
#            periodSeconds: 15
#            timeoutSeconds: 3
        #   resources:
        #     requests:
        #       cpu: 500m
        #       memory: 2Gi
        #     limits:
        #       cpu: 2
        #       memory: 2.5Gi
        - name: oauth-proxy
          image: openshift/oauth-proxy:latest
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 8443
            name: public
          args:
          - --https-address=:8443
          - --provider=openshift
          - --openshift-service-account=guacamole
          - --upstream=http://localhost:8080
          - --tls-cert=/etc/tls/private/tls.crt
          - --tls-key=/etc/tls/private/tls.key
          - --cookie-secret=SECRET
          volumeMounts:
          - mountPath: /etc/tls/private
            name: proxy-tls
      volumes:
        - name: proxy-tls
          secret:
            secretName: proxy-tls

